.logo {
  transition: all 0.2s ease;
  position: relative;
  height: 100%;
}

.light {
  .logo__title {
    color: #403d39;
  }

  .logo__subtitle {
    color: #403d39;
  }

  .logo__card {
    background-color: #ccc5b9;
  }

  .logo__btn {
    color: #403d39;
    background-color: #ccc5b9;
    &:hover {
      background-color: #d6cec2;
    }
  }

  .logo__btnRed {
    color: #fffcf2;
    background-color: #6f1d1b;
    &:hover {
      background-color: #852322;
    }
  }

  .logo__label {
    color: #403d39;

    & > [type="file"]::-webkit-file-upload-button {
      color: #403d39;
      background-color: #ccc5b9;
      &:hover {
        background-color: #eae0d5;
      }
    }
  }

  .logo__inpTitle {
    color: #403d39;
    background-color: #ccc5b9;
    &::placeholder {
      color: #403d39;
    }
  }

  .logo__putBtn {
    color: #403d39;
    background-color: #ccc5b9;
    &:hover {
      background-color: #eae0d5;
    }
  }
}

.dark {
  .logo__title {
    color: #ced4da;
  }

  .logo__subtitle {
    color: #ced4da;
  }

  .logo__card {
    background-color: #6c757d;
  }

  .logo__btn {
    color: #ced4da;
    background-color: #6c757d;
    &:hover {
      background-color: #7b868f;
    }
  }

  .logo__btnRed {
    color: #ced4da;
    background-color: #6f1d1b;
    &:hover {
      background-color: #852322;
    }
  }

  .logo__label {
    color: #ced4da;

    & > [type="file"]::-webkit-file-upload-button {
      color: #212529;
      background-color: #ced4da;
      &:hover {
        background-color: #e9ecef;
      }
    }
  }

  .logo__inpTitle {
    color: #212529;
    background-color: #ced4da;
    &::placeholder {
      color: #212529;
    }
  }

  .logo__putBtn {
    color: #212529;
    background-color: #ced4da;
    &:hover {
      background-color: #e9ecef;
    }
  }
}

.logo__box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.logo__title {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 20px;
}

.logo__cardBox {
  display: flex;
  gap: 35px;
}

.logo__card {
  padding: 0 12px 20px;
  border-radius: 8px;
  box-shadow: #21252970 0px 8px 24px 0px;
}

.logo__cardImg {
  margin-bottom: 6px;
}

.logo__subtitle {
  text-align: center;
}

.logo__btnBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
  margin-top: 2.5rem;
}

.logo__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 22px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #21252970;
}

.logo__btnRed {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 22px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #21252970;
}

.logo__modal {
  display: flex;
  flex-direction: column;
}

.logo__modalText {
  margin: 1rem 0;
}

.logo__modalBtn {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-left: auto;
  font-weight: bold;
  padding: 4px 16px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #21252970;
  color: #ced4da;
  background-color: #6f1d1b;
  &:hover {
    background-color: #852322;
  }
}

.logo__form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 400px;
}

.loading__BigBox {
  position: absolute;
  top: -24px;
  right: -24px;
  left: -24px;
  bottom: -24px;
  background: #00000090;
  z-index: 1;
}

.loading__box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}

.logo__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
  margin-bottom: 1rem;

  & > [type="file"]::-webkit-file-upload-button {
    border-radius: 9999px;
    padding: 6px 18px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
  }
}

.logo__inpTitle {
  width: 100%;
  border-radius: 8px;
  padding: 4px 16px;
}

.logo__inpImg {
  display: block;
  width: 60%;
  font-size: 14px;
}

.logo__putBtn {
  font-weight: bold;
  padding: 4px 16px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px #21252970;
}
