.main {
  display: flex;
  height: 100%;
}

.navbar {
  width: 20%;
  transition: all 0.2s ease;
}

.dark {
  background: #212529;
}

.light {
  background: #403d39;
}

.outlet {
  width: 80%;
  padding: 24px;
}
