.header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  transition: all 0.2s ease;
}

.light {
  background-color: #403d39;
}

.dark {
  background-color: #212529;
}

.header__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__toggle {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.lang {
  cursor: pointer;
}

.lightToggle {
  color: #ccc5b9;
}

.darkToggle {
  color: #adb5bd;
}

.text {
  border-width: 1px;
  padding: 4px 1rem;
  font-size: 16px;
  border-radius: 0.375rem;
}

.dark__light {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
