.navbar {
  transition: all 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px 0;
}

.light {
  .top {
    border-color: #ccc5b9;
  }

  .line {
    border-color: #ccc5b9;
  }

  .link,
  .link__bottom {
    color: #ccc5b9;
    &:hover {
      background-color: #616161;
    }
  }
}
.dark {
  .top {
    border-color: #adb5bd;
  }

  .line {
    border-color: #adb5bd;
  }

  .link,
  .link__bottom {
    color: #adb5bd;
    &:hover {
      background-color: #343a40;
    }
  }
}

.top {
  display: flex;
  flex-direction: column;
}

.bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.line {
  display: block;
  margin: 0 auto 8px;
  border-top-width: 2px;
  width: 80%;
}

.link {
  display: block;
  padding: 14px 29px;
  transition: all 0.2s ease;
  border-bottom: 1px solid #adb5bd;
  &:last-child {
    border-bottom: none;
  }
}

.link__bottom {
  display: block;
  padding: 14px 29px;
  transition: all 0.2s ease;
}
